body {
    background-color: #fff;
  }

.sidenav {
    margin-top: 2%;
    height: 90%;
    width: 7%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right:1px solid #71a1d1;
    overflow-x: hidden;
    float: left;
    overflow: hidden;
  }
  
  .sidenav a {
    padding-left: 15%;
    text-decoration: none;
    font-size: 1.5vw;
    color: #b1c8bc;
    display: block;
    margin-top:9vw;
  }
  
  .sidenav a:hover {
    color: #81d0e8;
    text-shadow: 2px 2px 5px rgb(185, 185, 185);
  }
  